body{
    width: 100%;
    height: 100vh;
    margin: 0;padding: 0;
}
*{
    box-sizing: border-box;
}
#bgImg{
    background-image: url(../image/b_class.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
img{
    max-width: 100%;
}
.top{
    width: 100%;
    height: 10em;
    background-color: rgba(105,4,9, .9);
    background-size: cover;
}
.content-box{
    position: relative;
    bottom: 40px;
}
.dash-content{
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 30%;
    background-color: #fff;
    height: 20vh;
    text-overflow: clip;
    border-radius: 10px;
    box-shadow: -1px 2px 7px #666;
}
.last-dash-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box p{
    margin: 0;
}
.top-margin{
    margin-top:1.5em;
    text-align: center;
}
.ig{
    padding: 20px 0 0  0;
}
.d-text{
    color: #666;
}
/*************COURESES EDIT**************/
.courses{
    
    background-image: url('../image/libary.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.h-courses{
    background-color: rgba(0, 0, 0, 0.8 );
    position: fixed;
    width: 100%;
    top: 0;
   z-index: 1;

}
nav ul{
    margin: 0;
    padding: 1em 0;
}
nav li{
    list-style-type: none;
display: inline;
margin: 15px;

}
nav li a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav a.active{
    color: gold;
    font-weight: bold;
}

/*************COURESES EDIT/ ONGOING COURSES **************/
.ongoing{
    margin: 10em 0 0 0;
}
.reading{
    height: 20vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
}
.reading h4{
    font-family: 'Roboto', sans-serif;
}
.ongoing span,i{
    padding-right: 7%;
    color: #C4C4C4;
    outline: none;
    user-select: none;
}
.go-down_{
    display: none;
}

/*************MY NOTE EDIT/ ONGOING COURSES **************/
.h-note{
    background-image: url(../image/libary.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.5);
}
.note-h{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8 );  
    box-shadow: 0px 4px 4px rgba(209, 201, 201, 0.25);
}
.N-ongoing{
    
    margin: 10em 0 0 0;
}
.note{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em 6%;
    background-color: #fff;
}
/* .note h4{
    padding-left: 5%;
} */
.bar{
   height:8px;
   width:50%;
   background-color: #5C8C54;
   border-radius: 10px;

}
.bg{
    background-color: #c4c4c4;
}
.bottom {
    background-color: rgba(0, 0, 0, 0.8 );
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}
.bottom a{
    text-decoration: none;
    color: #fff;
}
.bottom a i{
    color: #fff;
    font-size: 1.2em;
}
/*********************CONTACT PAGE POP UP EDIT*******************************/
.w3{
    font-size: 1.1em;
}
#close{
    display: block;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
#close:hover{
background-color: red;
}
.w3-modal-content{
    margin-bottom: 3em;
    background-color: rgba(255, 250, 250, 0.445);
    height: 60vh;
    box-shadow: 0 0 10px #000;
}
.con i{
    font-size: 3em;
    color: #fff;
    margin: 10px 0;
}
.con div{
    background-color: rgb(107, 7, 12);
}
.con h3{
    background-color: rgb(107, 7, 12);
    color: #fff ;
}

/*********************Meet page EDIT*******************************/

.meet_bg{
    background-image: url(../image/classroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}