body{
    width: 100%;
    height: fit-content;
    margin: 0;padding: 0;
}
img{
    max-width: 100%;
}
.top{
    width: 100%;
    height: 10em;
    background-color: #690409;
}
.content-box{
    position: relative;
    bottom: 40px;
}
.dash-content{
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 30%;
    background-color: #fff;
    height: 20vh;
    text-overflow: clip;
    border-radius: 10px;
    box-shadow: -1px 2px 7px #666;
}
.last-dash-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box p{
    margin: 0;
}
.top-margin{
    margin-top:1.5em;
    display: ;
    text-align: center;
}
.ig{
margin-top: 1%;
}
.d-text{
    color: #666;
}
/*************COURESES EDIT**************/
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
display: inline;
margin: 15px;

}
nav li a{
    text-decoration: none;
    font-weight: 500;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

nav a.active{
    color: #690409;
    font-weight: bold;
}

/*************COURESES EDIT/ ONGOING COURSES **************/
.ongoing{
    margin: 3em 0;
}
.reading{
    height: 20vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: relative;
}
.reading h4{
    font-family: 'Roboto', sans-serif;
}
.ongoing i{
    padding-right: 7%;
    color: #C4C4C4;
}